main {
  padding: 15px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-top {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.school-title {
  padding: 5px 0;
  font-size: 24px;
  color: var(--type-second);
}

.main-bottom {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.main-posts {
  width: 66%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.post {
  border-radius: 10px;
  border: solid 1px var(--border);
  padding: 10px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.post-top {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-mid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.post-title {
  font-size: 18px;
  color: var(--primary);
}

.post-time {
  color: var(--type);
  font-size: 14px;
}

.post-img-container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-img-container img {
  width: 100%;
  height: 100%;
}

.comnent-btn {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  border: solid 1px var(--primary);
  color: var(--primary);
}

.post-views {
  color: var(--type);
  font-size: 14px;
}

.main-info {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.staff {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.staff-title {
  font-size: 14px;
  color: var(--type);
}

.people {
  background-color: var(--bg);
  border: solid 1px var(--border);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.person {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.person-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}

.person-name {
  color: var(--five);
  font-size: 14px;
}

.person-rank {
  color: var(--type);
  font-size: 14px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts-container {
  background-color: var(--bg);
  border: solid 1px var(--border);
  padding: 10px;
  border-radius: 10px;
}

.contacts-ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts-ul li {
  font-size: 14px;
}